# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/SOLD - Gustavo(22_04_2018)/nbproject/private/
/SOLD - Gustavo(22_04_2018)/build/
/SOLD/nbproject/private/
/SOLD/build/
/SOLD-(Gustavo 23_04)/nbproject/private/
/SOLD-(Gustavo 23_04)/build/
/SOLD-(PosAvaliacao)/nbproject/private/
/SOLD(Gustavo Raiz)/nbproject/private/